.btn {
    background-color: red;
    width: 25px;
    border-radius: 10px;
    margin: 5px;
    color: white;
    align-self: flex-end;
}

.global {
    display: flex;
    justify-content: center;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #6c757d;
    width: 25%;
    border-radius: 10px;
    background-color: rgb(0 123 255 / 25%);
}

.cardTitle {
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}

.medio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tempName {
    font-weight: bold;
    color: black;
}

.minTemp{
    color: #1533ff;
}

.maxTemp {
    color: #ed2d2d;
}

.temp {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
